In [9]:
import pandas as pd
my_data = pd.read_csv("ODI Player Innings Stats - All Teams.csv")
print(my_data)

C:\Users\s533725\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0,1,2,6,7,8,9,10,11,12,13,14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Innings Player  ... Innings Economy Rate
0               JJ Roy  ...                  NaN
1             AD Hales  ...                  NaN
2             RA Smith  ...                  NaN
3               JJ Roy  ...                  NaN
4             DI Gower  ...                  NaN
5           AJ Strauss  ...                  NaN
6           AJ Strauss  ...                  NaN
7               JJ Roy  ...                  NaN
8           AJ Strauss  ...                  NaN
9           JC Buttler  ...                  NaN
10          EJG Morgan  ...                  NaN
11            AD Hales  ...                  NaN
12           CWJ Athey  ...                  NaN
13            GA Gooch  ...                  NaN
14         JM Bairstow  ...                  NaN
15             IR Bell  ...                  NaN
16         JM Bairstow  ...                  NaN
17         JM Bairstow  ...                  NaN
18            DL Amiss  ...                  NaN
19      ME Trescothick  ...                  NaN
20           IJL Trott  ...                  NaN
21             AN Cook  ...                  NaN
22            GA Gooch  ...                  NaN
23            AD Hales  ...                  NaN
24             JE Root  ...                  NaN
25        KWR Fletcher  ...                  NaN
26            DI Gower  ...                  NaN
27      ME Trescothick  ...                  NaN
28        KP Pietersen  ...                  NaN
29            GA Gooch  ...                  NaN
...                ...  ...                  ...
171938             NaN  ...                  NaN
171939             NaN  ...                  NaN
171940             NaN  ...                  NaN
171941             NaN  ...                  NaN
171942             NaN  ...                  NaN
171943             NaN  ...                  NaN
171944             NaN  ...                  NaN
171945             NaN  ...                  NaN
171946             NaN  ...                  NaN
171947             NaN  ...                  NaN
171948             NaN  ...                  NaN
171949             NaN  ...                  NaN
171950             NaN  ...                  NaN
171951             NaN  ...                  NaN
171952             NaN  ...                  NaN
171953             NaN  ...                  NaN
171954             NaN  ...                  NaN
171955             NaN  ...                  NaN
171956             NaN  ...                  NaN
171957             NaN  ...                  NaN
171958             NaN  ...                  NaN
171959             NaN  ...                  NaN
171960             NaN  ...                  NaN
171961             NaN  ...                  NaN
171962             NaN  ...                  NaN
171963             NaN  ...                  NaN
171964             NaN  ...                  NaN
171965             NaN  ...                  NaN
171966             NaN  ...                  NaN
171967             NaN  ...                  NaN

[171968 rows x 28 columns]

2. I found an intresting relationship between opposition team, runs scored and ground.
3. I would like to predict the high scorer of the match and the team that is going to win the match.

In [11]:
data_copy_1 = my_data.copy()
data_copy_1.dropna(axis='index', how='all', inplace=True)
data_copy_1.info()

data_copy_2 = data_copy_1.copy()
data_copy_2.drop(labels="Innings Overs Bowled", axis='columns', inplace=True)
data_copy_2.drop(labels="Innings Bowled Flag", axis='columns', inplace=True)
data_copy_2.drop(labels="Innings Maidens Bowled", axis='columns', inplace=True)
data_copy_2.drop(labels="Innings Runs Conceded", axis='columns', inplace=True)
data_copy_2.drop(labels="Innings Wickets Taken", axis='columns', inplace=True)
data_copy_2.drop(labels="4 Wickets", axis='columns', inplace=True)
data_copy_2.drop(labels="5 Wickets", axis='columns', inplace=True)
data_copy_2.drop(labels="10 Wickets", axis='columns', inplace=True)
data_copy_2.drop(labels="Innings Wickets Taken Buckets", axis='columns', inplace=True)
data_copy_2.drop(labels="Innings Economy Rate", axis='columns', inplace=True)
data_copy_2.drop(labels="Innings Runs Scored Buckets", axis='columns', inplace=True)
indexNames = data_copy_2[ (data_copy_2['Innings Minutes Batted'] == '-') ].index
data_copy_2.drop(indexNames , inplace=True)
data_copy_3 = data_copy_2.dropna(subset=['Innings Balls Faced'])
data_copy_4=data_copy_3.replace(to_replace ="-",value = 0)
print(data_copy_2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85774 entries, 0 to 85773
Data columns (total 28 columns):
Innings Player                   85774 non-null object
Innings Runs Scored              85774 non-null object
Innings Runs Scored Num          85774 non-null object
Innings Minutes Batted           85774 non-null float64
Innings Batted Flag              85774 non-null float64
Innings Not Out Flag             85774 non-null float64
Innings Balls Faced              85774 non-null object
Innings Boundary Fours           85774 non-null object
Innings Boundary Sixes           85774 non-null object
Innings Batting Strike Rate      85774 non-null object
Innings Number                   85774 non-null object
Opposition                       85774 non-null object
Ground                           85774 non-null object
Innings Date                     85774 non-null object
Country                          85774 non-null object
50's                             85774 non-null float64
100's                            85774 non-null float64
Innings Runs Scored Buckets      85774 non-null object
Innings Overs Bowled             0 non-null float64
Innings Bowled Flag              0 non-null float64
Innings Maidens Bowled           0 non-null float64
Innings Runs Conceded            0 non-null float64
Innings Wickets Taken            0 non-null float64
4 Wickets                        0 non-null float64
5 Wickets                        0 non-null float64
10 Wickets                       0 non-null float64
Innings Wickets Taken Buckets    0 non-null float64
Innings Economy Rate             0 non-null float64
dtypes: float64(15), object(13)
memory usage: 19.0+ MB

C:\Users\s533725\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85774 entries, 0 to 85773
Data columns (total 17 columns):
Innings Player                 85774 non-null object
Innings Runs Scored            85774 non-null object
Innings Runs Scored Num        85774 non-null object
Innings Minutes Batted         85774 non-null float64
Innings Batted Flag            85774 non-null float64
Innings Not Out Flag           85774 non-null float64
Innings Balls Faced            85774 non-null object
Innings Boundary Fours         85774 non-null object
Innings Boundary Sixes         85774 non-null object
Innings Batting Strike Rate    85774 non-null object
Innings Number                 85774 non-null object
Opposition                     85774 non-null object
Ground                         85774 non-null object
Innings Date                   85774 non-null object
Country                        85774 non-null object
50's                           85774 non-null float64
100's                          85774 non-null float64
dtypes: float64(5), object(12)
memory usage: 11.8+ MB
None

In [12]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(data_copy_4, test_size=0.2, random_state=123)
print(len(train_set), len(test_set))

68619 17155

In [13]:
data_copy_2.isnull().sum()

Innings Player                 0
Innings Runs Scored            0
Innings Runs Scored Num        0
Innings Minutes Batted         0
Innings Batted Flag            0
Innings Not Out Flag           0
Innings Balls Faced            0
Innings Boundary Fours         0
Innings Boundary Sixes         0
Innings Batting Strike Rate    0
Innings Number                 0
Opposition                     0
Ground                         0
Innings Date                   0
Country                        0
50's                           0
100's                          0
dtype: int64

In [14]:
data_copy_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85774 entries, 0 to 85773
Data columns (total 17 columns):
Innings Player                 85774 non-null object
Innings Runs Scored            85774 non-null object
Innings Runs Scored Num        85774 non-null object
Innings Minutes Batted         85774 non-null float64
Innings Batted Flag            85774 non-null float64
Innings Not Out Flag           85774 non-null float64
Innings Balls Faced            85774 non-null object
Innings Boundary Fours         85774 non-null object
Innings Boundary Sixes         85774 non-null object
Innings Batting Strike Rate    85774 non-null object
Innings Number                 85774 non-null object
Opposition                     85774 non-null object
Ground                         85774 non-null object
Innings Date                   85774 non-null object
Country                        85774 non-null object
50's                           85774 non-null float64
100's                          85774 non-null float64
dtypes: float64(5), object(12)
memory usage: 11.8+ MB

In [15]:
data_copy_4.head()

  Innings Player Innings Runs Scored  ... 50's  100's
0         JJ Roy                 180  ...  0.0    1.0
1       AD Hales                 171  ...  0.0    1.0
2       RA Smith                167*  ...  0.0    1.0
3         JJ Roy                 162  ...  0.0    1.0
4       DI Gower                 158  ...  0.0    1.0

[5 rows x 17 columns]